<% if object.errors.any? %>
  <div class="alert alert-danger">
    Le formulaire contient <%= pluralize(object.errors.count, "erreur") %>.
  </div>
  <ul class="list-form">
  <% object.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>