/* :hover - 'passer dessus' */

a:hover {
    text-decoration: none;
    color: crimson;
}

button:hover {
    background: crimson;
    border: none;
}

/* :focus - 'focaliser (avec TAB)' */

a:focus {
    color: green;
    text-decoration: line-through;
}

button:focus {
    color: green;
    text-decoration: line-through;
}

/* :active - 'restez appuyer' */

a:active {
    color: black;
    text-decoration: none;
}

/* Activité : Titre h1
1. Créer un titre h1;
2. Appliquer une pseudo-classe 'hover' modifiant notre titre :
#. Caractère en majuscule;
#. Couleur 'crimson'.
3. Appliquer une pseudo-classe 'active' modifiant notre titre :
#. Decoration : ligne au-dessus;
#. Couleur 'bleue'.
4. Durée : ~2 minutes. */

h1:hover {
    text-transform: uppercase;
    color: crimson;
}

h1:active {
    text-decoration: overline;
    color: blue;
}
